<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VELO-M History</title>
    <link rel="stylesheet" href="/styles/history.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav id="navbar">
      <span>VELO-M</span>
      <ul class="menu">
        <li class="tab-item">
          <a href="/" class="tab-link">HOME</a>
        </li>
        <li class="tab-item">
          <a href="/#about" class="tab-link">ABOUT</a>
        </li>
        <li class="tab-item">
          <a href="/history" class="tab-link">HISTORY</a>
        </li>
        <li class="tab-item">
          <a href="/results" class="tab-link">RESULTS</a>
        </li>
        <li class="tab-item">
          <a href="/gallery" class="tab-link">GALLERY</a>
        </li>
        <li class="tab-item">
          <a href="/#join" class="tab-link">JOIN US</a>
        </li>
      </ul>
    </nav>
    <div class="container">
      <h1>History of VELO-M</h1>
      <div id="lang">
        <h2>Change language</h2>
        <div class="div">
          <img id="mkd" src="logos/mkd.png" alt="" />
          <img id="eng" src="logos/eng.png" alt="" />
        </div>
      </div>
      <div class="row eng">
        <div class="period">
          <h2>1990-2000</h2>
          <p>
            The history of the club begins with its establishment in 1993 in
            Kumanovo. The club was founded by brothers Aleksandar and Marjan
            Petrovski, who were then prominent active cyclists and both held the
            title of Republic Champions of Macedonia.
            <br />
            <br />
            Even in its early years, the club achieved significant results.
            Notably, in 1993, the club organized the International Race -
            Macedonia '93, which evolved into the Tour of Macedonia in
            subsequent years. In the first edition of this race, the club won
            the yellow jersey.
            <br />
            <br />
            The club also became involved in organizing the October 11 race,
            which had been held since 1945. By taking over the race, the club
            actively organized it every year, with almost every edition
            featuring an international character. In 2018, a record number of
            cyclists from Macedonia, Serbia, and Bulgaria participated.
            <br /><br />
            In 1994, the club traveled to France in its first year of existence
            and established a partnership with the French club Louison Bobet in
            Rennes. There, the club participated in the Race Around Brittany
            with Marjan Petrovski, Aleksandar Petrovski, Slave Manevski, Panche
            Shaltevski, and Goran Mishkov.
            <br /><br />
            In its early years, the club actively participated in domestic races
            as well as on the international stage, including the Tour of Serbia,
            the Tour of Vojvodina, the Tour of Bosnia and Herzegovina, Belgrade
            - Budapest, Belgrade - Budapest - Bratislava, the Race Around
            Pomoravlje, the Grand Prix Gemenc, and the Grand Prix Chepel in
            Hungary.
            <br /><br />
            Significant results in the first decade were achieved by Marjan and
            Aleksandar Petrovski in the senior category, while Slave Manevski
            stood out in the junior category—who later became a Balkan legend
            and is still remembered in cycling races today. Another notable
            cyclist who quickly gained recognition on the international scene
            was Stojche Lazarov from Kochani.
            <br /><br />
            In the national championship, the club earned several titles as the
            Winner of the Ranking List.
          </p>
        </div>
        <div class="period">
          <h2>2000-2010</h2>
          <p>
            With the start of the new millennium, the club kept pace with
            significant events in the country. After the end of the conflict in
            2001, the club organized a major international cycling race for
            Peace and Friendship between Macedonia, Albania, and Montenegro. The
            race went smoothly, with Slave Manevski securing a stage victory,
            while Veli Sadiki finished third on the stage from Kumanovo to
            Tetovo.
            <br /><br />
            In the following years, the club strengthened with cyclists from
            Bulgaria and participated in significant races, including the Balkan
            Tour, where cyclist Georgi Drumov secured second place, and the Tour
            of Macedonia, where cyclist Vladimir Koev - Pirana won first place
            and the yellow jersey.
            <br /><br />
            In 2006, the club participated as a mixed team in the Tour of
            Turkey, considered one of the leading races in the region, and won
            the yellow jersey with cyclist Ivailo Gabrovski.
            <br /><br />
            These significant results helped elevate the sport and bring forth
            new promising cyclists. Coaches Marjan and Aleksandar Petrovski, who
            ended their careers as athletes, completed their physical education
            degrees and continued working in the sport as coaches. During this
            period, successful results were achieved by Stefan Cvetanovski,
            Srecko Jovchevski, Igor Petkovic, and Sase Velichkovski—who won
            numerous races in Macedonia and later became the first Macedonian
            cyclist to join the professional continental team Miche, an
            Italian-Bulgarian team.
            <br /><br />
            Stefan Petrovski also began his career during this period, quickly
            rising to prominence from his very first race and remaining a top
            cyclist to this day. Stefan is considered one of the best cyclists
            in Macedonian history and holds the most titles as National Champion
            of Macedonia.
            <br /><br />
            In 2007, Stefan Petrovski participated in the EJF (European Youth
            Olympic Festival) and later became the first Macedonian cyclist to
            join the world cycling center – UCI in Aigle, Switzerland, where he
            continued to build his career. He spent two years there, actively
            participating in major races in Switzerland, France, Italy, and
            competing in European and World Championships. While Stefan was
            competing in Switzerland, significant results were achieved by
            cyclist Predrag Gelevski, who also made an impact on the
            international scene, winning a sprint race in Dobrich, Bulgaria,
            against strong competition.
            <br /><br />
            Upon Stefan's return from Switzerland, the club was built around
            him, and together with him, it participated in domestic and
            international races. Notable results were achieved by Aleksandar
            Atanasovski, Yahi Ibishi, and Predrag Gelevski. During this time,
            two significant cyclists, Nikola Gjukić and Andrej Petrovski, also
            began their careers, leaving a lasting mark on Macedonian cycling.
            <br /><br />
            Andrej Petrovski briefly competed in Macedonia in the cadet category
            before moving to Germany, where he continued to build his career
            with several different German clubs. He later became the second
            cyclist to join the world cycling center UCI. Andrej stayed there
            for three years and achieved historic results that are of great
            significance for Macedonia and the club Velo-M. From UCI, Andrej
            continued his career with the Monaco Royal Club, where, during his
            two seasons, he won a bronze medal at the Olympic Games for small
            countries representing Monaco.
            <br /><br />
            Andrej Petrovski is a regular and record-holding Macedonian
            participant in European and World Championships. At the National
            Championships of Macedonia, Andrej is the National Champion in road
            cycling for the years 2018, 2019, and 2022, and National Champion in
            Time Trial for 2018, 2019, 2021, and 2022.
          </p>
        </div>
        <div class="period">
          <h2>2010-2020</h2>
          <p>
            From 2012 to 2016, the club dominated Macedonian cycling, winning
            most of the races, National Championships, and participating on the
            international stage in races such as Mersin, Ankara Tour, Serbia
            Tour, and Belgrade-Banja Luka. During this time, the unbeatable trio
            in the senior category consisted of Stefan Petrovski, Nikola Gjukić,
            and Ivica Davidovski, while in the junior category, Denis Kolevski
            won all races in all disciplines, with Mario Petrovski as the second
            best.
            <br /><br />
            Predrag Dimevski, who had started his career in the 90s in the cadet
            category at Velo-M and was living in South Africa, returned to the
            club. Upon his return, he became the National Champion in Road
            Cycling in 2013, and again in 2021, representing Velo-M.
            <br /><br />
            In 2016, the club experienced a transition with Stefan Petrovski
            moving to a German club. At that time, the club was the National
            Champion on the Ranking List, with key cyclists Nikola Gjukić, Mario
            Petrovski, Denis Kolevski, Ivica Davidovski, and Ivica Gatzovski. In
            the upcoming season, Nikola Lefkov and Kiril Markovski joined the
            club.
            <br /><br />
            2017 is considered one of the most significant years in the club's
            recent history, as the club expanded and signed sponsorship deals
            with Asian brands: Ranking – Helmets, Lameda – Equipment, Winspace –
            Bicycles, and FLR – Shoes, which strengthened the club's position.
            In 2017, the club participated for the first time in the Cyprus
            Tour, with the team consisting of Mario Petrovski, Nikola Gjukić,
            Nikola Lefkov, Ivica Davidovski, Denis Dobrev, and Hristomir Dobrev.
            <br /><br />
            Later that year, the club participated with a six-member team in the
            Albania Tour UCI 2.2, and some cyclists also competed in the
            national team of Macedonia in the Belgrade-Banja Luka and Serbia
            Tour races.
            <br /><br />
            With new legal regulations in 2018, the club partnered with the
            prominent Kumanovo-based company – Termalift, which specializes in
            the sale of forklifts and elevators. With the support received, the
            club was able to build and grow into a Balkan competitor. That year,
            the club was joined by Andrej Petrovski, who excelled on the Balkan
            scene and won an international race in Montenegro – the Kuci Trophy,
            which was held in two stages. Andrej managed to win both stages,
            earning the yellow jersey, polka-dot jersey, and white jersey.
            Later, Andrej also secured the title of National Champion in Road
            Cycling and Time Trial.
            <br /><br />
            In the same year, the club also participated in two races in
            Bulgaria – Dolchini Cup, and for the second time in the Cyprus Tour.
            <br /><br />
            In 2019, Andrej Petrovski, together with Velo-M, repeated the
            results from the previous season, becoming National Champion in Road
            Cycling and Time Trial once again, and winning the Kuci Trophy in
            Montenegro with even stronger competition, including Jaka Primozic
            from Slovenia and Dusan Rajovic from Serbia. The club also
            participated in several races of the Dolchini Cup in Bulgaria that
            year.
          </p>
        </div>
        <div class="period">
          <h2>2020-NOW</h2>
          <p>
            In 2020, the club underwent significant changes with the emergence
            of a new generation of cyclists, including Aleksandar Miloshevski,
            Nemanja Paunovski, Valentino Petkovski, David Georgievski, Jovan
            Mitev, Leon Miletić, Ivan Ilijevski, and many others. Despite the
            pandemic, these new cyclists took up the sport, with some developing
            a passion for it and achieving considerable success. The club also
            signed several important sponsorship deals, including with Kipeo – a
            company that produces equipment and continues to support the club.
            In addition to Kipeo, the club was sponsored by Yaban chains,
            Santik, and Sidebike shoes.
            <br /><br />
            This generation of Velo-M is one of the most significant in the
            club's history, and the results speak for themselves. From 2020 to
            2023, the club excelled in the categories of cadets, juniors, and
            seniors across all disciplines, including road, mountain, and
            cyclocross cycling. The cyclists won a significant portion of the
            National Championships in all disciplines.
            <br /><br />
            In 2021, the club became the one with the most trophies, totaling
            around 15. The same year, the club won the Albania Tour and became
            the first Macedonian club to win the yellow jersey (Dushan
            Veselinovic) in a race of such a rank. The team consisted of Dushan
            Veselinovic, Gregor Cerny Matija, Aleksandar Miloshevski, Jovan
            Mitev, Stevan Klisuric, with Marjan Petrovski and Mario Petrovski
            leading the team.
            <br /><br />
            Notable results from this period include second place in the
            Dolchini Cup – Bulgaria (Nemanja Paunovski), third place in the
            Dolchini Cup (Valentino Petkovski), third place in a race in
            Vojvodina (Valentino Petkovski), and third place in the 2023 Balkan
            Championship in mountain biking in Romania (Aleksandar Miloshevski).
            <br /><br />
            In 2024, the club celebrates its 31st anniversary, and it's
            challenging to summarize everything in just a few sentences. We take
            this opportunity to thank everyone who has been part of Velo-M from
            its inception to today. We continue forward!
          </p>
        </div>
        <div class="period god">
          <h2>Breaking points in our history</h2>
          <h3>
            <span>1993:</span>Founding of Velo-M in Kumanovo by Aleksandar and
            Marjan Petrovski.
          </h3>
          <h3>
            <span>1993:</span>Organization of International Race - Macedonia
            '93, evolving into the Tour of Macedonia.
          </h3>
          <h3>
            <span>1994:</span>Partnership with French club Louison Bobet and
            participation in Race Around Brittany.
          </h3>
          <h3>
            <span>2001:</span>Involvement in organizing a major international
            race for Peace and Friendship.
          </h3>
          <h3>
            <span>2006:</span>Participation in the Tour of Turkey and winning
            the yellow jersey.
          </h3>
          <h3>
            <span>2007:</span>Stefan Petrovski joins UCI World Cycling Center;
            Predrag Gelevski wins sprint race in Dobrich.
          </h3>
          <h3>
            <span>2016:</span>Significant transition with Stefan Petrovski
            moving to a German club; new cyclists join.
          </h3>
          <h3>
            <span>2017:</span>Expansion with sponsorship deals and participation
            in Cyprus Tour and Albania Tour UCI 2.2.
          </h3>
          <h3>
            <span>2021:</span>Velo-M wins Albania Tour, becoming the first
            Macedonian club to win the yellow jersey.
          </h3>
          <h3><span>2024:</span>Celebrating 31 years of Velo-M.</h3>
        </div>
      </div>
      <div class="row mkd">
        <div class="period">
          <h2>1990-2000</h2>
          <p>
            Историјата на клубот започнува со самото оформување во 1993 година
            во Куманово. Клубот е основан од браќата Александар и Марјан
            Петровски, во тогашно време двајца истакнати активни велосипедисти и
            двајцата со титула Републички Шампиони на Македонија.
            <br />
            <br />
            Уште во почетниот период на постоењето, клубот успева да оствари
            значајни резултати во својата работа, а вредно е да се напомене дека
            во истата година (1993) клубот ја организира Меѓународната трка -
            Македонија 93, која во следните години прераснува во Трка низ
            Македонија. На првото издание од ова трка клубот успева да освои
            жолта маица.
            <br />
            <br />
            Клубот се вклчува и во организација на трката 11ти Октомври која се
            одржувала уште од 1945 година. Со превземање на трката клубот
            активно секоја година ја организираше а скоро во секое издание
            трката имаше и меѓународен карактер, во 2018 година се појавија
            рекорден број на велосипедисти од Македонија, Србија и Бугарија.
            <br /><br />
            Во 1994 година, во својата прва година од постоењето клубот заминува
            за Франција и се збратимува со француски клуб Луизион Бобет во град
            Рен. Таму клубот зема учествува на Трка околу Бретања а во состав на
            клубот се Марјан Петровски, Александар Петровски, Славе Маневски,
            Панче Шалтев и Горан Мишков.
            <br /><br />
            Во почетните години клубот активно зема учество на организирани трки
            во домашно првенство како и учество на меѓународна сцена односно
            Трка низ Србија, Трка низ Војводина, Трка низ Босна и Херцеговина,
            Белград – Будимпешта, потоа Белград-Будимпешта-Братислава, Трка
            околу Поморавие, Голема Награда Геменц и Голема Награда Чепел во
            Унгарија.
            <br /><br />
            Позначајни резултати остварени во првата декада од постоење
            остваруваат Марјан и Александар Петровски во сениорска категорија,
            додека во јуниорска категорија се истакнува Славе Маневски – кој
            подоцна прераснува во Балканска легенда која и ден е споменувана на
            велосипедските трки. Уште еден значаен велосипедист кој многу бргу
            се истакна на меѓународна сцена е Стојче Лазаров од кочанско.
            <br /><br />
            Во националното првенство клубот се закитува со повеќе титули
            Победник на Ранг Листа.
          </p>
        </div>
        <div class="period">
          <h2>2000-2010</h2>
          <p>
            Со почнување на новиот милениум, клубот се движи со големите
            случувања во државата односно по завршување на конфликтот во 2001,
            клубот се вклучува во организирање на голема меѓународна
            велосипедска трка За Мир и Пријателство помеѓу државите Македонија,
            Албанија и Црна Гора. Трката поминува во најдобар ред, а Славе
            Маневски успева да се здобие и со победа на етапа, додека нашиот
            друг велосипедит Вели Садики на етапата Куманово – Тетово го
            освојува третото место.
            <br /><br />
            Во наредните години клубот се засилува со велосипедисти од Бугарија
            и учествува на значајни трки меѓу кои е Балкан Тур каде што
            велосипедистот Георги Друмев го освојува второто место, потоа на
            Трка низ Македонија со велосипедистот Владимир Коев – Пирана
            освојуваме прво место односно жолта маица.
            <br /><br />
            Во 2006 година клубот како микс тим учествува на Трка низ Турција
            која важи за една од водечките во регионот и на истата успева да
            освои жолта маица со велосипедостот Иваило Габровски.
            <br /><br />
            Сите значајни резултати во овој период помогнаа спортот да се
            издигне и да се појават нови надежни велосипедити, тренери од Марјан
            и Александар Петровски кои ги завршија своите кариери како
            спортисти, завршија факултет за физичка култура и продолжија во
            спортот да работат како тренери. Во овој период успешни резултати
            покажуваат Стефан Цветановски, Среќко Јовчевски, Игор Петковиќ, Саше
            Величковски – победник на безброј трки низ македонија а подоцна
            станува прв македонски велосипедист кој станува од професионална
            континентална екипа Мике (Miche) италијанско-бугарска екипа.
            <br /><br />
            Во овој период својата кариера ја започна и Стефан Петровски – кој
            уште од првата своја трка излегува на врвот и ден денеска е таму.
            Стефан важи за еден на најдобрите велосипедисти во македонска
            историја и тој е носител на најмногу титули Државен Првак на
            Македонија.
            <br /><br />
            Во 2007 година Стефан Петровски учествува на ЕЈОФ (Европски
            Олимписки Фестивал) а подоцна постанува прв македонски велосипедист
            кој заминува во светскиот велосипедски центар – УЦИ во Игл,
            Швајцарија каде што продолжува да ја гради својата кариера, таму
            останува две години и активно учестува на најголемите трки во
            неговата возраст (јуниор) во Швајцарија, Франција, Италија а
            учествува и на Европски и Светски првенства. Додека Стефан се
            натпреваруваше во Швајцарија на домашен терен значајни резултати
            оствари велосипедистот Предраг Гелевски, а не беше покус ни на
            меѓународна сцена односно на трка во Добрич, Бугарија во силна
            конкуренција на спринт издвојуваше победа.
            <br /><br />
            По враќањето на Стефан од Швајцарија клубот се гради околу него и
            заедно со него учествува на домашни и меѓународни трки. Во состав на
            клубот позначајни резултати освојуваат Александар Атанасовски, Јахи
            Ибиши, Предраг Гелевски а во тоа време своите кариери ги започнуваат
            и двајца значајни велосипедисти кои оставаат голем белег во
            македонскиот велосипедизам Никола Ѓукиќ и Андреј Петровски.
            <br /><br />
            Андреј Петровски кратко се натпреварува во Македонија во кадетска
            категорија и заминува за Германија и кариерата продолжува да ја
            гради во неколку различни германски клубови пред да стане вториот
            велосипедист кој заминува во светскиот велосипедски центар УЦИ.
            Андреј таму се задржува три години и остварува историски резултати
            кои за Македонија и за клубот Вело-М се од големо значење. Од УЦИ,
            Андреј кариерата ја продолжува во кралскиот клуб на Монако, и во
            текот на неговите две сезони Андреј успева да освои бронзен медал на
            Олимписките игри за мали земји во боите на Монако.
            <br /><br />
            Андреј Петровски е редовен и рекорден македонски учесник на Европски
            и Светски првенства бранејќи ги боите на Македонија, додека на
            Државните Првенства на Македонија, Андреј е Државен Шампион во
            друмски велосипедазм за годините 2018,2019, 2022 и Државен Шампион
            во Хронометар за 2018,2019,2021 и 2022.
          </p>
        </div>
        <div class="period">
          <h2>2010-2020</h2>
          <p>
            Во периодот од 2012 до 2016 клубот врши тотална доминација во
            македонскиот велосипедизам победувајќи поголем дел од трките,
            Државни Првенства и учества на меѓународна сцена на Трка низ Мерсин,
            Анкара Тур, Трка низ Србија, Белград Бања Лука. Во тоа време за
            непопедлива тројка во сениорска конкуренција важат Стефан Петровски,
            Никола Ѓукиќ и Ивица Давидовски додека во Јуниорска категорија Денис
            Колевски ги победува сите трки во сите дисциплини а како втор
            најдобар му се придружува Марио Петровски.
            <br /><br />
            Во клубот се враќа и Предраг Димевски кој живее во Јужна Африка а
            кариерата ја има започнато во 90тите во кадетска категорија токму во
            Вело-М, а со неговото враќање успева да постане Државен Шампион во
            Друмско во 2013 година, и повторно се обиде во 2021 година и пак
            постана Државен Шампион во Друмско во боите на Вело-М.
            <br /><br />
            Во 2016 година во клубот се случува транзиција со заминувањето на
            Стефан Петровски во германски клуб. Во тогашно време клубот е
            Државен Шампион на Ранг Листа а заслужни велосипедисти се Никола
            Ѓукиќ, Марио Петровски, Денис Колевски, Ивица Давидовски и Ивица
            Гацовски, а во претсојната сезона на клубот му се придружуваат и
            Никола Лефков и Кирил Марковски.
            <br /><br />
            2017 важи за една од позначајните години во поновата историја на
            клубот со тоа што клубот се проширува и склучува спонзорски договори
            со азиски брендови Ранкинг – Кациги, Ламеда – Опрема, Винспејс –
            Велосипед, ФЛР – шпринтерици со што клубот го зајакнува своето
            постоење. Во 2017 клубот за прват зема учество на Трка низ Кипар а
            во состав на тимот се Марио Петровски, Никола Ѓукиќ, Никола Лефков,
            Ивица Давидовски, Денис Добрев и Христомир Добрев.
            <br /><br />
            Подоцна во истата година клубот зема учество со шест члена екипа на
            Трка низ Албанија УЦИ 2.2 а дел од велосипедистите во текот на
            годината учествуваа во националниот тим на Македонија на трките
            Белград-Бања Лука и Трка низ Србија.
            <br /><br />
            Со новите законските регулативи во 2018 година на клубот како
            партнер се вклучува истакната Кумановска фирма – Термалифт која се
            занимава со продажаба на вилушкари и лифтови, со поддржата која
            клубот ја доби успева да изгради и прерасне во балкански конкурент.
            Во истата година во клубот се придружува Андреј Петровски кој
            брилира на балканската сцена и победува на меѓународна трка во Црна
            Гора – Трофеј Кучи која се возеше во две етапи, а Андреј успеа да ги
            победи и двете со што ја освои жолтата маица, точкаста маица и бела
            маица. Подоцна Андреј се закити и со титула Државен Шампион во Друм
            и Хронометар.
            <br /><br />
            Во истата година клубот учестуваше и на две трки во Бугарија –
            Долчини Куп а по втор пат зеде учество и на Трка низ Кипар.
            <br /><br />
            Во 2019 година Андреј Петровски заедно со Вело-М ги повторува
            резултатите од претходната сезона односно повторно е Државен Шампион
            во Друм и Хронометар и повторно ја победува Трофеј Кучи во Црна
            Гора, овојпот со уште посилна конкуренција меѓу кои и Јака Приможиќ
            од Словенија и Душан Рајовиќ од Србија. Клубот во истата година
            учестуваше и на неколку трки од Долчини купот во Бугарија.
          </p>
        </div>
        <div class="period">
          <h2>2020-NOW</h2>
          <p>
            Во 2020 година се случуваат големи промени во клубот односно
            започнува нова генерација на велосипедисти меѓу кои се Александар
            Милошевски, Немања Пауновски, Валентино Петковски, Давид
            Георѓиевски, Јован Митев, Леон Милетиќ, Иван Илијевски и уште многу
            други кои покрај короната започнаа да се занимаваат со
            велосипедизмот но на некои од нив им прерасна во страст и станаа
            многу успешни. Клубот успеа да потпише уште неколку важни спознорски
            договори меѓу кои се и Кипео – фирма за произдвоство на опрема која
            и ден денес го помага клубот. Покрај Кипео, клубот го спонзорираа и
            Јабан ланци, Сантик и Сајдбајк шпринтерици.
            <br /><br />
            Оваа генерација на Вело-М е една од позначајните во постоењето на
            клубот а резултатите говорат за себе. Во периодот од 2020 до 2023
            година клубот брилираше во категориите кадети, јуниори и сениори и
            тоа во сите дисциплини односно друмски, планински и вело крос
            велосипедизам. Велосидистите успеаа да победат голем дел од
            Државните Првенства во сите дисциплини.
            <br /><br />
            Во 2021 година стануваме клуб со најмногу трофеи односно 15-тина. Во
            2021 година клубот успева да ја победи Трка низ Албанија и да биде
            прв македонски клуб кој победува жолта маица (Душан Веселиновиќ) на
            Трка низ Албанија и воопшто на трка од ваков ранг. Во состав на
            тимот беа Душан Веселиновиќ, Грегор Черне Матија, Александар
            Милошевски, Јован Митев, Стеван Клисуриќ а предводници на екипата
            беа Марјан Петровски и Марио Петровски.

            <br /><br />
            Како позначајни резултати од овој период ги второ место на Куп
            Долчини – Бугарија (Немања Пауновски), трето место на Куп Долчини
            (Валентино Петковски), трето место на трка низ Војводина (Валентино
            Петковски), трето место на Балканско првенство во планински
            велосипедизам 2023 во Романија (Александар Милошевски).
            <br /><br />
            Во 2024 година клубот навршува 31 година постоење и тешко е да се
            опише се во неколку реченици. Со ова прилика им се заблагодаруваме
            на сите што беа дел од Вело-М од самото постоење до ден денес.
            Продолжуваме понатаму!
          </p>
        </div>
        <div class="period god">
          <h2>Клучни моменти во нашата историја</h2>
          <h3>
            <span>1993:</span>Вело-М е основан од страна на Марјан и Александар
            Петровски во Куманово
          </h3>
          <h3>
            <span>1993:</span>Организација на Меѓународната трка - Македонија
            '93, која прерасна во Тур де Македонија.
          </h3>
          <h3>
            <span>1994:</span>Партнерство со францускиот клуб Луисон Бобе и
            учество на Трка околу Бретања.
          </h3>
          <h3>
            <span>2001:</span>Вклученост во организација на меѓународна трка за
            Мир и Пријателство.
          </h3>
          <h3>
            <span>2006:</span>Учество на Турција Тур и освојување на жолтата
            маичка.
          </h3>
          <h3>
            <span>2007:</span>Стефан Петровски се приклучува на Светскиот
            велосипедски центар на УЦИ; Предраг Гелевски победува на спринтерска
            трка во Добрич.
          </h3>
          <h3>
            <span>2016:</span>Значаен премин со преминувањето на Стефан
            Петровски во германски клуб; нови велосипедисти се приклучуваат.
          </h3>
          <h3>
            <span>2017:</span>Проширување со нови спонзорски договори и учество
            на Трка на Кипар и Тур на Албанија УЦИ 2.2.
          </h3>
          <h3>
            <span>2021:</span>Вело-М го освојува Тур на Албанија, станувајќи
            првиот македонски клуб што ја освојува жолтата маичка.
          </h3>
          <h3><span>2024:</span>Одбележување на 31 година од Вело-М.</h3>
        </div>
      </div>
    </div>
    <script src="js/history.js"></script>
  </body>
</html>
