
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script
      src="https://kit.fontawesome.com/3d4db5e9d1.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="js/client.js"></script>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="icon" href="logos/slika3.png" type="image/png">

    <title>VELO-M TERMALIFT</title>
  </head>
  <body>
    <nav id="navbar" class="nav">
      <span>VELO-M</span>
      <ul class="menu">
        <li class="tab-item">
          <a href="/" class="tab-link">Home</a>
        </li>
        <li class="tab-item">
          <a href="/#about" class="tab-link">About</a>
        </li>
        <li class="tab-item">
          <a href="/history" class="tab-link">History</a>
        </li>
        <li class="tab-item">
          <a href="/results" class="tab-link">Results</a>
        </li>
        <li class="tab-item">
          <a href="/gallery" class="tab-link">Gallery</a>
        </li>
        <li class="tab-item">
          <a href="/#join" class="tab-link">Contact</a>
        </li>
        <li class="tab-item">
          <a href="/login" id="login-btn" class="tab-link">Login</a>
        </li>
      </ul>
      <img onclick="toggleSideMenu()" id="breadcrumbs" src="logos/breadcrumbs.svg" alt="">
    </nav>
    <div class="side-menu hidden">
      <!-- <img id="close" onclick="toggleSideMenu()" src="logos/close.svg" alt=""> -->
      <ul class="menu aside">
        <li class="tab-item">
          <a onclick="toggleSideMenu()" href="/" class="tab-link-aside">Home</a>
        </li>
        <li class="tab-item">
          <a onclick="toggleSideMenu()" href="/#about" class="tab-link-aside">About</a>
        </li>
        <li class="tab-item">
          <a onclick="toggleSideMenu()" href="/history" class="tab-link-aside">History</a>
        </li>
        <li class="tab-item">
          <a onclick="toggleSideMenu()" href="/results" class="tab-link-aside">Results</a>
        </li>
        <li class="tab-item">
          <a onclick="toggleSideMenu()" href="/gallery" class="tab-link-aside">Gallery</a>
        </li>
        <li class="tab-item">
          <a onclick="toggleSideMenu()" href="/#join" class="tab-link-aside">Contact</a>
        </li>
        <li class="tab-item">
          <a id="login-btn-aside" onclick="toggleSideMenu()" href="/login" class="tab-link-aside">Login</a>
        </li>
      </ul>
      <span>&copy;2024 Aleksandar Miloshevski. All rights reserved.</span>
     </div>
      <section id="home">
        <!-- <div class="layer"></div> -->
        <div class="container">
          <div class="row">
            <!-- <h1>VELO-M TERMALIFT</span></h1> -->
          </div>
        </div>
      </section>
      <section id="about">
        <div class="container">
          <div class="row">
            <h2>VELO-M-TERMALIFT</h2>
            <div class="card">
              <div class="col">
                <h1>WHO ARE WE?</h1>
                <p>
                  Founded in Kumanovo in 1993, Velo-M has been a leading force in Macedonian cycling. Our club has consistently excelled in national and international races, achieving top positions and numerous titles. We are proud of our history and continue to strive for excellence as we look towards the future.
                </p>
              </div>
              <div class="img-wrapper">
                <img src="/logos/slika2.jpg" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="history">
        <div class="container">
          <div class="row">
            <div class="col-left">
              <h3>How about a little bit of History</h3>
              <h4>
                Because we are written in the cycling
                <span>History of Macedonia</span>
              </h4>
            </div>
            <div class="col-right">
              <div class="grid-item">
                <h5 class="year">1993-2000</h5>
                <p>
                  Founding of Velo-M and early achievements, including organizing key races and establishing international partnerships.
                </p>
              </div>
              <div class="grid-item">
                <h5 class="year">2001-2006</h5>
                <p>
                  Expansion with major race organization, notable wins like the yellow jersey in the Tour of Turkey, and rising prominence.
                </p>
              </div>
              <div class="grid-item">
                <h5 class="year">2007-2016</h5>
                <p>
                  Significant growth with UCI participation, new talent, and national dominance in cycling.
                </p>
              </div>
              <div class="grid-item">
                <h5 class="year">2017-2024</h5>
                <p>
                  Further expansion with new sponsorships, major victories like the Albania Tour, and celebration of 31 years of Velo-M.
                </p>
              </div>
            </div>
          </div>
          <button class="btn" onclick="location.href='history'">Read Full History</button>
        </div>
      </section>
      <section id="results">
        <div class="container">
          <div class="row">
            <h1>It all comes down to the results</h1>
            <div class="results-container">
              <% latestResults.forEach(result => { %>
                <div class="result-card">
                  <img src="<%= result.image_url %>" alt="" class="result-img">
                  <h2><%= result.heading %></h2>
                  <p><%= result.description %></p>
                </div>
              <% }) %>
            </div>
            <button class="btn" onclick="location.href='results'">View More</button>
          </div>
        </div>
      </section>
      <section id="gallery">
        <div class="container">
          <div class="row">
            <h1>A picture is worth a thousand words</h1>
            <h2>No need to read, just take a look at our gallery</h2>
            
            <div class="gallery-wrapper">
              <% if (latestImages && latestImages.length > 0) { %>
                <% latestImages.forEach(function(image) { %>
                  <div class="img-wrapper">
                    <img src="<%= image.url %>" alt="Gallery Image" />
                  </div>
                <% }); %>
              <% } else { %>
                <p>No images to display.</p>
              <% } %>
            </div>
            
            <button class="btn" onclick="location.href='gallery'">View Full Gallery</button>
          </div>
        </div>
      </section>
      
      <section id="join">
        <div class="container">
          <div class="row">
            <h1>Contact us</h1>
            <div class="form-wrapper">
              <form action="https://api.web3forms.com/submit" method="POST">

                <!-- Replace with your Access Key -->
                <input type="hidden" name="access_key" value="b7450524-4c60-4dd2-80e2-3d312f288f10">
            
                <!-- Form Inputs. Each input must have a name="" attribute -->
                <input type="text" name="name" placeholder="Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="phone" name="phone" placeholder="Phone" required>
                <textarea name="message" placeholder="Message" required></textarea>
      
                <button type="submit">Submit Form</button>
            
            </form>
            </div>
          </div>
        </div>
      </section>
      <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="img-wrapper">
                <img id="jersey" src="logos/slika3.png" onclick="playSound()" alt="">
                <div class="flags">
                  <div class="flag">
                    <a href="https://www.youtube.com/watch?v=yKuD6FzAVfE&pp=ygUcZGVuZXMgbmFkIG1ha2Vkb25pamEgc2UgcmFnYQ%3D%3D"><img id="flag" src="logos/mkd.png" alt=""></a>
                    <h5>MKD</h5>
                  </div>
                  <div class="flag">
                    <a href="https://www.youtube.com/watch?v=W5hUO2_WPyM&pp=ygURaGltbmEgbmEga3VtYW5vdm8%3D"><img id="flag" src="logos/kumanovo.png" alt=""></a>
                    <h5>KUMANOVO</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div id="social">
                <h4>Social media</h4>
              <div class="social-media">
                <a href="https://www.facebook.com/velom.kumanovo"
                ><i class="fa-brands fa-square-facebook"></i></i
              ></a>
              <a href="https://www.instagram.com/velomtermalift/"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              </div>
              </div>
              <h4>Phone: +389 78 413 734</h4>
              <a href="mailto:velomtermalift@gmail.com"><h4 id="email" >email: velomtermalift@gmail.com</h4></a>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2958.3579055885075!2d21.715216775919302!3d42.14262737121397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13544f78166eaf89%3A0x187c3a5a90eeca2f!2sVelo-M!5e0!3m2!1sen!2smk!4v1722097271020!5m2!1sen!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </section>
      <div id="logos" >
        <div class="logos-slide">
          <a href="https://kumanovo.gov.mk/"><img src="logos/opstina.png" alt=""></a>
          <a href="https://www.termalift.com.mk/"><img src="logos/Termalift LOGO .svg" alt=""></a>
          <a href="https://www.newlifecyclestore.com/rankinghelmets"><img src="logos/ranking.svg" alt=""></a>
          <a href="https://kipeo.com.tr/en/"><img src="logos/kipeo.png" alt=""></a>
          <a href="http://www.yaban.com/index.php?lang=en"><img src="logos/yaban.svg" alt=""></a>
        </div>
        <div class="logos-slide">
          <a href="https://kumanovo.gov.mk/"><img src="logos/opstina.png" alt=""></a>
          <a href="https://www.termalift.com.mk/"><img src="logos/Termalift LOGO .svg" alt=""></a>
          <a href="https://www.newlifecyclestore.com/rankinghelmets"><img src="logos/ranking.svg" alt=""></a>
          <a href="https://kipeo.com.tr/en/"><img src="logos/kipeo.png" alt=""></a>
          <a href="http://www.yaban.com/index.php?lang=en"><img src="logos/yaban.svg" alt=""></a>
        </div> 
      </div>
  </body>
</html>
