* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#navbar span {
  color: #ff0044;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: italic;
}
body {
  background-color: #ff0044;
  background-image: url("logos/black-twill.png");
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #ffffff;
  padding: 0 15%;
  height: 55px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: top 0.5s;
}
h1 {
  font-size: 50px;
  font-weight: 800;
  color: white;
}

.menu {
  list-style-type: none;
}
.tab-link {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.tab-item {
  display: inline-block;
  padding: 10px;
}
.tab-link.active {
  color: #ff0044;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-wrapper {
  display: grid;
  width: 75%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 50px;
  padding: 5% 0;
}
.result-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.8);
}
h1,
h2,
p {
  color: #ff0044;
}

img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.text-wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
}
.img-wrapper {
  width: 100%;
}

.side-menu {
  position: fixed;
  background-color: #ff0044;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  width: 50%;
  height: 100vh;
  align-items: center;
  z-index: 1000;
  top: 0;
  right: 0;
  box-shadow: -3px 0 10px 3px rgba(0, 0, 0, 0.5);
}
.side-menu span {
  font-size: 7px;
  color: #fff;
  bottom: 10px;
  position: fixed;
}
ul.menu.aside {
  display: flex;
  flex-direction: column;
}
.aside a {
  color: #fff;
}
.skrien {
  display: none;
}
.hidden {
  display: none;
  background-color: red;
}
#breadcrumbs {
  display: none;
}
.tab-link-aside {
  text-decoration: none;
  font-weight: 700;
}
.tab-item {
  text-align: center;
}
.upload-btn {
  background-color: #ff0044;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}
@media (max-width: 1000px) {
  #navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1001;
  }
  #breadcrumbs {
    display: block;
    width: 40px;
  }
  .menu {
    display: none;
  }
  .material-symbols-outlined {
    display: inline-block;
  }
  .upload-btn {
    background-color: #fff;
    color: #ff0044;
  }
}
