* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body,
html {
  height: 100%;
  background-color: #ececec;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
img {
  max-width: 150px;
}
h1,
label {
  color: #fff;
}
.forma {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  min-width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  background-color: #ff0044;
}
input,
textarea {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #ececec;
}
h1 {
  text-align: center;
}
label[for="image"] {
  padding: 10px;
  border: dashed #fff 2px;
  border-radius: 10px;
  cursor: pointer;
}
button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #ececec;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background-color: #d7d7d7;
}

@media (max-width: 500px) {
  .forma {
    width: 90%;
  }
}
